<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis sitios:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación que nos permitirá guardar el lugar donde nos encontramos actualmente recogiendo las coordenadas gracias al GPS del móvil.</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="cerrarSesion()" expand="block">Cerrar Sesión</ion-button>

</ion-content>
